.opte1 {
  width: 50em;
     padding: 15px 2px;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
}
.parrafo1 {
  width: 50em;
  text-align: justify;
     }
#mapa{
  width: 130em; 
  height:450px;
  }